<tr>
    <td>
        {{id}}
    </td>
    <td>
        <img src="{{picture}}" style="max-width:150px;">
    </td>
    <td style="font-size:large;">
        <a href="{{link}}">{{name}}</a>
    </td>
    <td>
        {{condition}}
    </td>
    <td>
        {{price}} &euro;
    </td>
    <td>
        <pre>{{notes}}</pre>
    </td>
</tr>
